<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE3404C41DF62C2D0090F53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE3404DE1DF62C2E0090F53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE3404E91DF62C2E0090F53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
